.am-topbar-fixed-top-index {
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	z-index: 1000;
	text-align: center;
	/*background-color: black;*/
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0)
}

.am-form-field-search {
	border-radius: 50px;
	width: 350px;
}

.my-inline{
	display: inline;
}

.cartbadge-index{
	position: relative;
	left: -1rem;
	top: 3px;
}

.themeColor{
	
}
/*.navbarIconColor{
	color: grey;
}*/

.footNav{
	box-shadow: 0 -1px 10px gray;
	/*border-top: 1px solid gainsboro;*/
}

.defaultNavItem a > span{
	color: grey;
}

.selectedNavItem a > span{
	color: darkred;
}


