/*.cartbadge-index{
	position: relative;
	left: -1rem;
	top: 3px;
}*/

.themeColor{
	
}

.footNav{
	box-shadow: 0 -1px 10px gray;
	/*border-top: 1px solid gainsboro;*/
	height: 50px;
}

.defaultNavItem a > span{
	color: grey;
}

.selectedNavItem a > span{
	color: darkred;
}


